.container {
  position: relative;
  text-align: center;
  color: black;
}

.intro {
  position: absolute;
  bottom: 30%;
  right: 50%;
}

.intro h1 {
  display: inline-block;
  background-color: black;
  color: yellow;
  margin-bottom: 60px;
  font-size: 100px;
}

.intro h2 {
  display: inline;
  background-color: yellow;
  color: black;
  font-size: 40px;
}

.intro-buttons {
  font-size: 25px;
  margin-top: 60px;
}

.button1 {
  background-color: yellow;
  color: black;
  margin-right: 25px;
  height: 75px;
  width: 150px;
}

.button1:hover {
  background-color: black;
  color: yellow;
}

.button2 {
  background-color: black;
  color: yellow;
  margin-left: 25px;
  height: 75px;
  width: 150px;
}

.button2:hover {
  background-color: yellow;
  color: black;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individual {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.imageURL {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.score h2 {
  margin-right: 10px;
}

.scores p {
  margin-left: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.container1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.info-section, .duck-dash-section, .tutorial-section, .credits-section {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2, h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0392b;
}

.section-content {
  display: none;
}

.info-section.show .section-content,
.duck-dash-section.show .section-content,
.tutorial-section.show .section-content,
.credits-section.show .section-content {
  display: block;
}

.friendCard {
  color: orange
}

.userProfileData {
  color: orange
}
